<header class="container-fluid bg-primary bg-gradient p-4 section">
    <div class="row">
        <nav class="col-8 bg-secondary offset-2 divsec"></nav>
    </div>
</header>
<section class="container-fluid bg-success p-4 section">
    <div class="row justify-content-around">
        <div class="col-12 my-2 col-md-4 bg-primary bg-gradient divsec"></div>
        <div class="col-12 my-2 col-md-4 bg-primary bg-gradient divsec"></div>
    </div>
</section>
<section class="container-fluid bg-danger p-4 section">
    <div class="row justify-content-around">
        <div class="col-md-2 col-12 my-2 bg-warning bg-gradient divsec"></div>
        <div class="col-md-2 col-12 my-2 bg-warning bg-gradient divsec"></div>
        <div class="col-md-2 col-12 my-2 bg-warning bg-gradient divsec"></div>
    </div>
</section>
<footer class="container-fluid bg-warning section"></footer>